@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Press+Start+2P&family=Righteous&display=swap');
:root{
    --letra: 'M PLUS 1 Code';
    --primario: #40783c;
    --blanco: #ffffff;
    --negro: #252323;
    --amarillo: yellow;
    --azul:#1100ff;
}
a{
    text-decoration: none;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
    
}
*,*:after,*:before{
    box-sizing: inherit;
}
body{
    font-family: 'Righteous';
    font-size: 1.5rem;
    width: 100%;
}
ul{
    padding: 0 0 0 .5rem;
}
.nav-resposive{
    opacity: 0;
}
header {
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 60px; /* Altura del header */
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

.navegacion .logo a{
    font-family: 'Press Start 2P';
    font-size: 3rem;
    color: var(--primario);
}
.navegacion .logo i{
    font-size: 5rem;
    color: var(--primario);
}
.navegacion ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navegacion nav ul li a{
    margin: 0 1rem;
    color: var(--blanco);
}
.navegacion ul li a:hover{
    color: var(--amarillo);
}

/*seccion*/
.seccion{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/*INICIO*/
#inicio{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), 
                url('../img/binary.jpg');
    background-size: cover;
    background-position: center; 
}

.seccion svg{
    width: 20rem;
    height: 20rem;
}
.user{
    width: 30rem;
    background-color: #060674;
    border-radius: 3rem;
    height: 40rem;
    padding: 1rem;
    color: #ffffff;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
.content{
    background: rgb(5, 6, 45);
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
}
/*coding for ures*/ 
/*end code user*/
.seccion .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.seccion .social a{
    background-color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.2rem solid rgb(216, 254, 46);
    border-radius: .5rem;
    padding: .5rem;
    width: 10rem;
}
.seccion .social a:hover{
    background-color: #1916df;
    color: #ffffff;
    transform: scale(1.1) translateY(-3px);
}
.seccion .social a::before{
    opacity: 1;
}
/*SOBRE MI*/
#sobremi{
    background-color: #000000;
    color: #ffffff;
    padding: 3rem 2rem;
}
#sobremi .contenido-seccion{
    max-width: 100rem;
    margin: auto;
}
#sobremi h2{
    font-size: 4rem;
    text-align: center;
}
#sobremi .contenido-seccion p{
    text-align: justify;
}
#sobremi .contenido-seccion p span{
    color: #1671df;
    font-size: 2rem;
    font-weight: bold;
}
#sobremi .fila{
    display: flex;
    max-width: 100rem;
    margin: auto;
}
#sobremi .fila .col{
    width: 50%;
    padding: 0 0 0 1rem;
}
#sobremi .fila .col h3{
    font-size: 2.2rem;
    text-align: center;
}
#sobremi .fila .col ul{
    list-style: none;
    padding: 0 4rem 0 4rem;
}
#sobremi .fila .col ul li{
    margin: 1rem 0;
}
#sobremi .fila .col ul li strong{
    display: inline-block;
    color: var(--azul);
}
#sobremi .contenido-intereses{
    padding: 0 4rem 0 4rem;
}
@media (min-width:900px) {
    #sobremi .fila{
        width: 100rem;
        
    }
    #sobremi .fila .col{
        padding: 0 5rem 0 5rem;
    }
    #sobremi .contenido-intereses{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 5rem;
        width: 45rem;
        place-items: center;

    }
}
.card {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 10rem;
    height: 5rem;
    padding: 3px;
    border-radius: .5rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}
.card::after {
    position: absolute;
    content: "";
    top: 1rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(2rem);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}
.card .intereses{
    background: rgb(5, 6, 45);
    border-radius: .5rem;
    padding: .2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobremi .boton{
    display: flex;
    justify-content: center;
    padding: 3rem 0 0 0;
    margin: 0;
}

/* From Uiverse.io by Creatlydev */ 
.button {
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.35em;
    padding: 0.75em 1em;
    padding-right: 1.25em;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1.5rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    transition: transform 0.3s;
  
    background: linear-gradient(
      90deg,
      rgba(77, 54, 208, 1) 0%,
      rgba(132, 116, 254, 1) 100%
    );
  }
  
  .button__icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .button:hover {
    border-color: #f4f5f2;
  }
  
  .button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  }
  
  /*PROYECTOS*/
#proyectos{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), 
                url('../img/binary.jpg');
    color: #ffffff;
    padding: 4rem 2rem;
    background-size: cover;
}
#proyectos h2{
    font-size: 4rem;
    text-align: center;
}
.contenedor-proyectos .proyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contenedor-proyectos .proyectos .proyecto{
    padding: 0 2rem;
}
.contenedor-proyectos .proyectos .proyecto p{
    margin: 1.5rem 0 0.5rem 0;
}
@media (min-width:900px) {
    .contenedor-proyectos .proyectos img{
        width: 40rem;
    }
    .contenedor-proyectos .proyectos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}
.contenedor-proyectos .proyectos .proyecto .btn {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: black;
  height: 2rem;
  width: 5rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: black;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*HABILIDADES*/
#habilidades{
    background-color: #000000;
}
#habilidades .contenedor-habilidades h2{
    color: var(--blanco);
    padding: 2rem 0 5rem 0;
    margin: 0;
    font-size: 4rem;
    text-align: center;

}
#habilidades .contenedor-habilidades{
    padding: 2rem 5rem 5rem 5rem;
}
#habilidades .contenedor-habilidades .contenido-habilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    width: 100%;
    gap: 2rem;
}
@media (min-width:980px) {
    #habilidades .contenedor-habilidades .contenido-habilidades{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        place-items: center;
        width: 100%;
    }
}
.carta {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 10rem;
    height: 16rem;
    padding: 3px;
    border-radius: .5rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}
.carta:hover{
    transform: scale(1.1) translateY(-3px);
}
.carta::after {
    position: absolute;
    content: "";
    top: 1rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(2rem);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}
.carta .habil{
    background: rgb(5, 6, 45);
    border-radius: .5rem;
    padding: .2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#habilidades .circulo{
    width: 8rem;
    height: 8rem;
    background: conic-gradient(#ff0000 0deg, #ff0000 calc(var(--nivel) * 1deg), #f4f4f4 calc(var(--nivel) * 1deg), #f4f4f4 360deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.circulo::before {
    content: '';
    width: 6rem;
    height: 6rem;
    background: rgb(5, 6, 45);
    border-radius: 50%;
    position: absolute;
    padding: 2rem;
}
.numero {
    font-size: 1.5em;
    color: #ffff;
    font-weight: bold;
    z-index: 1;
}
#habilidades .icono{
    font-size: 5rem;
    color: var(--blanco);
    padding: 1rem 0 0;
}
#habilidades .carta:hover .color{
    color: #00f2ff;
}

/*CONTACTOS*/
#contactos{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), 
                url('../img/binary.jpg');
    color: #ffffff;
    padding: 2rem 2rem;
    background-size: cover;
}
#contactos h2{
    font-size: 4rem;
    text-align: center;
}
#contactos .contenedor-contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* From Uiverse.io by Sr-Ajo */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #355891;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .message {
    color: #355891;
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid #355891;
    border-radius: 5px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #355891;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid #355891;
    border-radius: 5px;
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: #355891;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: green;
  }
  
  .fancy {
    background-color: white;
    border: 2px solid #355891;
    border-radius: 0px;
    box-sizing: border-box;
    color: #355891;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
  
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #355891;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
  
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #355891;
    transform: translateX(30%);
  }
  
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #355891;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #355891;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #355891;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
    color: #355891;
    background: #5f82a9;
  }
  
  .fancy:hover::before {
    width: 1.5rem;
    background: #355891;
  }
  
  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }
/*FOOTER*/
footer{
    background-color: var(--negro);
    margin: 0;
    text-align: center;
    position: relative;
}
.final div p{
    margin: 0;
    height: 10rem;
    padding: 4rem;
}
.final .up{
    display: block;
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    background-color: #00DDEB;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
    border-radius: 50%;
    line-height: 50%;

}

/*RESPOSIVE*/
@media screen and (max-width:980px){
    #header{
        justify-content: space-between;
    }
    nav{
        display: none;
    }
    
    .nav-resposive{
        background-color: var(--primario);
        border-radius: .2rem;
        display: block;
        opacity: inherit;
    }
    nav.resp{
        display: block;
        position: absolute;
        right: 0;
        top: 7.5rem;
        background-color: var(--negro);
        width: 10.8rem;
    }
    nav.resp ul{
        display: block !important;
    }
    nav.resp ul li{
        border-bottom: .1rem solid white;
        padding: 1rem 0;
    }
}

/*SCROOLL*/
html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth; /* Activar desplazamiento suave */
    scroll-snap-type: y mandatory; /* Scroll snap en el eje Y */
    overflow-y: scroll; /* Habilitar desplazamiento en el body */
}
section {
    height: 100vh; /* Hacer que cada sección ocupe toda la altura de la pantalla */
    padding: 20px;
    scroll-snap-align: start;
}